.Square{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.Blue {
    background-color: rgb(241, 57, 57);
}
.Red {
    background-color: rgb(255, 187, 0);
}
.Roxo {
    background-color: rgb(3, 128, 14);
}